{% extends 'base.html.twig' %}

{% block body %}
    {% for error in errors %}
        {{ error }}
    {% endfor %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.longUrl) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
