{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row error">
            {% for error in errors %}
               <div class="col-sm-12 text-center">{{ error }}</div>
            {% endfor %}
        </div>
        {% if errors|length == 0 %}
            <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6 text-right">Long Url:</div>
                  <div class="col-sm-6 text-left">{{ url.longUrl }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-right">Short Url:</div>
                  <div class="col-sm-6 text-left">{{ url.shortUrl }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-right">Date Created:</div>
                  <div class="col-sm-6 text-left">{{ url.dateCreated | date('Y-m-d H:i:s') }}</div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
